body{
    background-color: black;
}
.main{
    line-height: 1.5;
}
.main .nav{
    position:fixed;
    width: 100%;
    height: 60px;
    background-color: #47464a;
    color: #999;
    text-align: center;
    line-height: 60px;
    z-index: 2;
    font-size: 20px
}
.main .nav a {
    margin: 0 50px;
    outline: none;
}
.main .nav .search{
    height: 40px;
    width: 120px;
    position: relative;
    top: -50px;
    left: 1200px;
    margin: 0;
    font-size: 20px;
}
.main .nav .search #name{
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: 1px solid black;
    position:absolute;
    top: 1;
    left: 0;
    margin: 0;
    outline: none;
    text-align: center;
}
.main .nav .search:hover #name{
    background-color: white;
}
.main .nav .search .hot-search{
    text-align: center;
    background-color: aliceblue;
    width: 160px;
    position: absolute;
    top: 39px;
    left: -20px;
    display: none;
}
.main .nav .search .hot-search a{
    margin: 0;
    line-height: 30px;
    text-align: center;
}
.main .nav .search:hover .hot-search{
    display:block ;
}

.main .nav img{
    position: fixed;
    top: 0;
    width: 60px;
}
#logo1{
    left: 0;
    z-index: 3;
}
#logo2{
    
    right: 0;
    z-index: 3;
}
.main .nav a:hover{
    color: white;
}
.main .container{
    width: 1120px;
    height: 10000px;
    margin: 0 auto;
    padding-top: 100px;
}
.main .container .logo{
    width: 200px;
    margin: 20px auto;
    z-index: 2;
}
.main .container .name{
    height: 0;
    z-index: 2;
    font-size: 70px;
    color:rgb(181, 158, 28) ;
    font-style: italic;
    position:relative;
    top: -90px;
    left: 373px;
    text-shadow:5px 5px 10px rgb(255, 217, 0);
}
.main .container .choose-area{
    padding: 20px;
    width: 1120px;
    height: auto;
    background-color: #373737;
    z-index: 1;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgb(87, 75, 7);
}
.choose-area .kinds{
    margin-bottom: 20px;
    line-height: 40px;
    border-bottom: 2px solid black;
}
.choose-area .three{
    margin-bottom: 20px;
}
 .kinds li{
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 5px;
    color: aliceblue;
    line-height: 30px;
    text-align: center;
}
.kinds li:hover{
    background-color: white;
    color: black;
}
.choose-area p{
    font-size: 30px;
    color: white;
    margin-left: -10px;
}
